<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link a href="../static/styles/individual.css" rel="stylesheet" type="text/css"/>
<body>
    <div class="mainheader">
        <div>
          <img src="../static/img/642A8650-633F-48CE-BB94-36163B0CAFBD 2.png" height="100px" width="300px" style="margin-top:0%"
          alt="”site_logo”" />
        </div>
     
      </div>
      <div class="subnav">
        <a class="active" href="#">Home</a>
        <a href="#">Code Library</a>
          <a href="#">About</a>
          <a href="#">Help</a>
          <a href="#">Community</a>
          <a href="#">Contact</a>
        </div>
        <div style="display: flex">
            <div>
              <form class="search">
                <div>
                  <input
                    type="text"
                    placeholder="Search......"
                    class="input-search"
                  />
                  <span>
                    <button type="submit" class="search-button">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
              </form>
            </div>
           </div>
           <main>
            <div class="nav-right">
              <div>
                <button style="background-color: transparent;font-size: xx-large;border: black 2px solid;color: #f2f2f2; margin-bottom: 15px;">Python</button>
              </div>
              <div>
                <img src="../static/img/Frame 105 (1).png">
              </div>
             <div class="nav-icons">
                <div>
                  <div class="likebtn2" style="display: flex;">
                    <div><button class="btn"><img src="../static/img/ei_like.png"></div>
                      <div><p class="Emilike" style="font:small-caption;"><span class="count">6</span></p></div>
                  </div>
                  Like
                </div>
                <div>
                  <div><img src="../static/img/message-text.png"></div>
                  Comment
                </div>
                <div>
                  <div><img src="../static/img/export.png"></div>
                  Share
                </div>
                <div>
                  <div><img src="../static/img/arrow-down.png"></div>
                  Download
                </div>
              </div>  
              <div>
                <img src="../static/img/Frame 111 (1).png">
              </div>
            </div>
            <div class="nav-left">
              <div class="left-top">
                <p>
                  Community rules
                </p>
                <ol>
                  <li>Insults and the use of vulgar of any kind
                    are NOT ALLOWED in this forum</li>
                  <li>Sexually explicit content are not allowed
                    in this forum,  if reported, your
                   account with  would be deleted
                   immediately .</li>
                   <li>Open ended questions only! </li>
                   <li>Questions must be made clear and
                    straight to the point</li>
                    <li>Begging is not allowed on this forum</li>
                </ol>
              </div>
              <div class="left-bottom">
                 <p>
                  Related codes
                 </p>
                 <ol style="list-style-type: none;">
                  <li><a href="#">Python code 0901</a></li>
                  <li><a href="#">python code 112342</a></li>
                  <li><a href="#">python code 45234</a></li>
                  <li><a href="#">python code 23456</a></li>
                  <li><a href="#">python code 211167</a></li>
                  <li><a href="#">python code 213167</a></li>
                 </ol>
              </div>
            </div>
           </main>
           <div style="display: flex;justify-content: space-between;margin: 20px;;">
            <div><button style=" width:144px;margin-top: 1%;margin-bottom:2%;
              height: 38px; background-color: #18783C; color: #f2f2f2; font-size: 16px;border: none;">
               <a href="#" style="color: #f2f2f2;">&#8592 Previous</a></button></div>
            <div><button style=" width:144px ;margin-top: 1%;margin-bottom:2%;
              height: 38px; background-color: #18783C; color: #f2f2f2; font-size: 16px;border: none;">
              <a href="#" style="color: #f2f2f2;">Next &#8594</a></button></div>
           </div> 
</body>
<script>
  document.body.addEventListener('click', (event) => {
    const button = event.target.closest('.btn');
  
    if (!button) return;
  
    const container = button.closest('.likebtn2');
  
    if (!container) return;
  
    const counter = container.querySelector('.Emilike');
  
    if (!counter) return;
  
    counter.innerText = Number(counter.innerText) + 1;
  })
  </script>
</html>