<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-color: #333433;align-items: center;width: 30%;">
    <div style="justify-content: center;
    align-items: center;" >
    <div style="height: 30vh;background-color: #0A3018;padding: 2em;">
        <i class="fa fa-check-circle" style="font-size:100px;color:white;margin-left: 38%;
        margin-top: 12%;"></i>
        <p style="color: white;text-align: center;font-size: 25px;">Success</p>
    </div>
    <div style="height: 30vh;background-color: black;padding: 2em;align-items: center;justify-content: center;">
        <p style="color: white;text-align: center;font-size: 25px;">
            Congratulations, your account has been succesfully created.</p>
        <a href="../templates/Home.html" >
            <button style="margin-top: 9%; width:144px;margin-bottom: 15%;margin-left: 30%;;
        height: 38px; background-color: #18783C; color: #f2f2f2; font-size: 16px;">Continue</button></a>
    </div> 
 </div>  
</body>
</html>