<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link a href="../static/styles/search_error.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="mainheader">
        <div>
          <img src="../static/img/642A8650-633F-48CE-BB94-36163B0CAFBD 2.png" height="auto" width="300px" alt="”site_logo”" />
        </div>
        <div style="display: flex">
          <div>
            <form class="search">
              <div>
                <input
                  type="text"
                  placeholder="Search......"
                  class="input-search"
                />
                <span>
                  <button type="submit" class="search-button">
                <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </form>
          </div>
          <div class="nav-links">
            <a href="../templates/loginpage.html"><button class="login">Login</button></a>
            <a href="../templates/registration.html"><button class="register">Register</button></a>
          </div>
         </div> 
      </div>
      <div class="subnav">
        <a class="active" href="../templates/Home.html">Home</a>
        <a href="../templates/individual.html">Code Library</a>
          <a href="#">About</a>
          <a href="../templates/contact_us.html">Help</a>
          <a href="../templates/community.html">Community</a>
          <a href="../templates/contact_us.html">Contact</a>
        </div>
        <div class="error" style="display: flex;justify-content: space-evenly;">
            <div style="display: block; width: 50%; align-items: left; text-align: left; padding-inline: 2%;margin-left: 10%;margin-top:7% ;">
                <h1 style="color: #18783C;">NO RESULT FOUND</h1>
                <div style="color: white;">We cannot find the item you are searching for, maybe a spelling mistake?</div>
                <a href="#" >
                    <button style="margin-top: 1%; width:144px; 
                height: 38px; background-color: #18783C; color: #f2f2f2; font-size: 16px;">Register</button></a>
            </div>
            <div>
                <img src="../static/img/pngwing 2.png" height="70%">
            </div>
        </div>
</body>
</html>