<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Login</title>
  <link href="/auth_wiki/authwiki/static/styles/registration.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.google.com/specimen/Source+Sans+Pro" rel="stylesheet" />
  <link href="https://fonts.google.com/specimen/Montserrat?query=Montserrat&category=Sans+Serif" rel="stylesheet" />
</head>

<body>
  <div class="main">
    <div class="login">
      <img src="/auth_wiki/authwiki/static/img/642A8650-633F-48CE-BB94-36163B0CAFBD 2.png" alt="authwiki_logo"
        class="logo">
      <h3>Get Started</h3>
      <p class="first_p">Enter your full details to create an account</p>
      <form action="#">
        <label for="name" id="name">Full Name</label>
        <p><input type="name" name="name" placeholder="   e.g John Doe" required /></p>
        <label for="email" id="email">Email</label>
        <p><input type="email" name="email" placeholder=" 
  example@gmail.com" required /></p>
        <label for="password" id="password">Password</label>
        <p>
          <input type="password" name="password" placeholder=" 
  *********" required />
        </p>
        <p><button>Sign up</button></p>
        <p class="checkspace"><input type="checkbox" class="checkbox" /></p>
        <label for="checkbox" class="sign_up"><span>By signing up with AuthWiki, you agree to our <a href="#">Terms of
              service</a></span><span class="second_span"> opens in a new window and <a href="#">Privacy
              policy</a></span></label>
      </form>
      <p class="or">
        &#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211
        Or
        &#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211&#8211
      </p>
      <div class="FandG_box">
        <div>
          <a href="#" class="fandg"><img src="/auth_wiki/authwiki/static/img/Vector (1).png" alt="facebook icon">
            Sign up using Facebook</a>
        </div>
        <div class="faceandgoogle_link">
          <a href="#" class="fandg"><img src="/auth_wiki/authwiki/static/img/flat-color-icons_google.png"
              alt="google icon"> Sign up using
            Google</a>
        </div>
      </div>
      <br>
      <p class="final_p">Already have an account? <a href="#">Login</a></p>
    </div>
    <div class="second_main">
      <div class="community">
        <div class="last_images"><img src="img/Ellipse%204.png" alt="firstimage"><img src="img/Ellipse%205.png"
            alt="secondimage"><img src="img/Ellipse%206.png" alt="thirdimage"></div>
        <p class="join">Join over 300,480 people using AuthWiki</p>
      </div>
    </div>
  </div>
</body>

</html>