<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>auth_wiki</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="/auth_wiki/authwiki/static/styles/landing.css">

<body>
  <main>
    <header>
      <div class="basic">
        <div class="mainheader">
          <div>
            <img src="logo.jpg" height="auto" width="300px" alt="”site_logo”" />
          </div>
          <div style="display: flex">
            <div>
              <form class="search">
                <div>
                  <input type="text" placeholder="Search......" class="input-search" />
                  <span>
                    <button type="submit" class="search-button">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
              </form>
            </div>
            <div class="nav-links">
              <a href="loginpage.html"><button class="login">Login</button></a>
              <a href="singup.html"><button class="register">Register</button></a>
            </div>
          </div>
        </div>
        <div class="subnav">
          <a class="active" href="#">Home</a>
          <a href="#">Code Library</a>
          <a href="#">About</a>
          <a href="#">Help</a>
          <a href="#">Community</a>
          <a href="#">Contact</a>
        </div>
        <div class="section1">
          <div class="text">
            <h1>
              Auth wiki is a library of authentication codes.<br />
              It helps solve the problem of delay in writing security related
              codes
            </h1>
          </div>
          <div class="image">
            <div class="shape1"></div>
            <img src="Frame 28.jpg" />
            <div class="shape2"></div>
          </div>
        </div>
      </div>
    </header>

    <section class="general">

      <h3>Most popular codes</h3>
      <div class="section2">
        <div class="code1"></div>
        <div class="code1"></div>
        <div class="code1"></div>
      </div>
      <h3>Most Popular community post</h3>
      <div class="community">
        <div class="comm">
          <div class="post"></div>
          <div><button>View</button></div>
        </div>
        <div class="comm">
          <div class="post"></div>
          <div><button>View</button></div>
        </div>
        <div class="comm">
          <div class="post"></div>
          <div><button>View</button></div>
        </div>
      </div>
      <div class="forum">

      </div>
    </section>
  </main>
  <footer>
    <div>AUTH WIKI</div>
    <div>Terms&Policy</div>
    <div>All right reserved&copy;</div>
  </footer>
</body>
<style>

</style>

</html>