<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link a href="../../styles/post.css" rel="stylesheet" type="text/css">
<body>
    <div class="mainheader">
        <div>
          <img src="../../img/642A8650-633F-48CE-BB94-36163B0CAFBD 2.png" height="100px" width="300px" style="margin-top:0%"
          alt="”site_logo”" />
        </div>
     
      </div>
      <div class="subnav">
        <a class="active" href="#">Home</a>
        <a href="#">Code Library</a>
          <a href="#">About</a>
          <a href="#">Help</a>
          <a href="#">Community</a>
          <a href="#">Contact</a>
        </div>
        <div style="display: flex">
            <div>
              <form class="search">
                <div>
                  <input
                    type="text"
                    placeholder="Search......"
                    class="input-search"
                  />
                  <span>
                    <button type="submit" class="search-button">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
              </form>
            </div>
           </div> 
           <main>
            <div class="nav-right">
                <div>
                <div class="right_top">
                  <div  style="padding: 0.2em;">
                    <div style="display: flex;"><img src="../../img/Ellipse 26 (1).png" style="height: 50px; width: 50px;">
                    <p style=" text-align: center;margin-left: 14px;margin-top: 34px;" >Brainiac23</p></div>
                    <p style=" left: center;margin-left: 24px;">Which programming code do you think is best for coding
                      authentication codes?</p>
                    <div class="likebtn2" style="display: flex; font-size: 10px;">
                      <button class="btn" style="background-color: transparent;border: none;"><i onclick="myFunction(this)" class="fa fa-thumbs-up" ></i>
                      </button> 
                      <p class="Emilike"><span class="count">212</span></p>
                      <div style="margin-top: 10px; margin-left:15px; color: #18783C;">Comments 12</div>
                      <div style="margin-top: 10px; margin-left:15px">Share</div>
                      <div style="margin-top: 10px; margin-left:15px">Report</div>
                    </div>
                  </div>
                </div>
                <div>                       
                   <button style=" width:144px;;margin-left: 3%;margin-top: 1%;margin-bottom:2%;
                    height: 38px; background-color: #18783C; color: #f2f2f2; font-size: 16px;border: none;">Comments</button>
                    </div>
                </div>
                <div  class="right_bottom">
                    <div  class="post1">
                      <div style="display: flex;"><img src="../../img/Ellipse 23.png" style="height: 50px; width: 50px;">
                      <p style=" text-align: center;margin-left: 14px;margin-top: 34px;" >RE-made00</p></div>
                      <p style=" left: center;margin-left: 24px;">DEFINITELY JAVASCRIPT!!!!!!!</p>
                      <div class="likebtn2" style="display: flex; font-size: 10px;">
                        <button class="btn"><i onclick="myFunction(this)" class="fa fa-thumbs-up" ></i>
                        </button> 
                        <p class="Emilike"><span class="count">212</span></p>
                        <div style="margin-top: 10px; margin-left:15px">Comments 12</div>
                        <div style="margin-top: 10px; margin-left:15px">Share</div>
                        <div style="margin-top: 10px; margin-left:15px">Report</div>
                      </div>
                    </div>
                    <div  class="post1">
                      <div style="display: flex;"><img src="../../img/Ellipse 27.png" style="height: 50px; width: 50px;">
                      <p style=" text-align: center;margin-left: 14px;margin-top: 34px;" >RE-made00</p></div>
                      <p style=" left: center;margin-left: 24px;">@RE-made00 In your widest dreams</p>
                      <div class="likebtn2" style="display: flex; font-size: 10px;">
                        <button class="btn" ><i onclick="myFunction(this)" class="fa fa-thumbs-up" ></i>
                        </button> 
                        <p class="Emilike"><span class="count">212</span></p>
                        <div style="margin-top: 10px; margin-left:15px">Comments 12</div>
                        <div style="margin-top: 10px; margin-left:15px">Share</div>
                        <div style="margin-top: 10px; margin-left:15px">Report</div></div> 
                        </div>
                    <div  class="post1">
                      <div style="display: flex;"><img src="../../img/Ellipse 27 (1).png" style="height: 50px; width: 50px;">
                        <p style=" text-align: center;margin-left: 14px;margin-top: 34px;" >RE-made00</p></div>
                        <p style=" left: center;margin-left: 24px;">@RE-made00 Amen brother!!!</p>
                        <div class="likebtn2" style="display: flex; font-size: 10px;">
                          <button  class="btn"><i onclick="myFunction(this)" class="fa fa-thumbs-up" ></i>
                          </button> 
                          <p class="Emilike"><span class="count">212</span></p>
                          <div style="margin-top: 10px; margin-left:15px">Comments 12</div>
                          <div style="margin-top: 10px; margin-left:15px">Share</div>
                          <div style="margin-top: 10px; margin-left:15px">Report</div></div>
                    </div>
                    <div  class="post1">
                      <div style="display: flex;"><img src="../../img/Ellipse 27 (2).png" style="height: 50px; width: 50px;">
                      <p style=" text-align: center;margin-left: 14px;margin-top: 34px;" >RE-made00</p></div>
                      <p style=" left: center;margin-left: 24px;">@RE-made00 Python all the way bruv!!!</p>
                      <div class="likebtn2" style="display: flex; font-size: 10px;">
                        <button class="btn"><i onclick="addLike()" class="fa fa-thumbs-up" ></i>
                        </button> 
                        <p class="Emilike"><span class="count">212</span></p>
                        <div style="margin-top: 10px; margin-left:15px">Comments 12</div>
                        <div style="margin-top: 10px; margin-left:15px">Share</div>
                        <div style="margin-top: 10px; margin-left:15px">Report</div></div>
                        </div>
                        <div>
                          <button style=" width:144px;;margin-left: 37% ; ;margin-top: 1%;margin-bottom:2%;
                          height: 38px; background-color: #18783C; color: #f2f2f2; font-size: 16px;border: none;">Add Comments</button>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="nav-left">
              <div class="left-top">
                <p>
                  Community rules
                </p>
                <ol>
                  <li>Insults and the use of vulgar of any kind
                    are NOT ALLOWED in this forum</li>
                  <li>Sexually explicit content are not allowed
                    in this forum,  if reported, your
                   account with  would be deleted
                   immediately .</li>
                   <li>Open ended questions only! </li>
                   <li>Questions must be made clear and
                    straight to the point</li>
                    <li>Begging is not allowed on this forum</li>
                </ol>
              </div>
              <div class="left-bottom">
                 <p>
                  Related posts
                 </p>
                 <ol>
                  <li><a href="#">Your best coding language</a></li>
                  <li><a href="#">What coding language ae you experienced in</a></li>
                 </ol>
              </div>
            </div>
           </main>
</body>
<script>
document.body.addEventListener('click', (event) => {
  const button = event.target.closest('.btn');

  if (!button) return;

  const container = button.closest('.likebtn2');

  if (!container) return;

  const counter = container.querySelector('.Emilike');

  if (!counter) return;

  counter.innerText = Number(counter.innerText) + 1;
})
</script>
</html>