<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>authenticated</title>
    <link rel="stylesheet" href="/auth_wiki/static/styles/authenticated.css">
</head>
<body>
    <header>
        <img src="../static/img/comm_images/642A8650-633F-48CE-BB94-36163B0CAFBD 2.png" alt="logo" class="logo">
        <nav>
            <a href="Home.html">Home</a>
            <a href="#">Codes</a>
            <a href="community.html">Community</a>
            <a href="#">About</a>
            <a href="contact_us.html">Help</a>
            <a href="contact_us.html">Contact</a>
        </nav>
        <input type="text" placeholder=" &#128269  Search" class="search">
    </header>
    <main>
        <div class="main_rows">
            <div class="testing" id="first_details"><a href="#">
                    <p class="topic_paragraph">API for world's states</p>
                    <p class="author_name">MACK TYSON &nbsp&nbsp&nbsp<span>| &nbsp&nbsp updated 4h ago</span></p>
                </a></div>
            <div class="testing">
                <img src="/auth_wiki/static/img/authenticated_images/Ellipse 16.png" alt="react logo">

                <!-- this div is for the thumbsup and likes -->
                <div class="thumup_likes">
                    <div>
                        <img src="/auth_wiki/static/img/unauthenticate_images/Vector (3).png" alt="thumbsup">
                    </div>
                    <div> 85 </div>
                </div>
            </div>
        </div>

        <!-- this is the second row  -->
        <br>
        <div class="main_rows">
            <div class="testing" id="first_details"><a href="#">
                    <p class="topic_paragraph">LIGHTGBM_Futuresales</p>
                    <p class="author_name">JANET LION &nbsp&nbsp&nbsp<span>| &nbsp&nbsp updated 14h ago</span></p>
                </a></div>
            <div class="testing">
                <img src="/auth_wiki/static/img/authenticated_images/Ellipse 6 (2).png" alt="java logo">

                <!-- this div is for the thumbsup and likes -->
                <div class="thumup_likes">
                    <div>
                        <img src="/auth_wiki/static/img/unauthenticate_images/Vector (3).png" alt="thumbsup">
                    </div>
                    <div> 5 </div>
                </div>
            </div>
        </div>
        <!-- this is the third row -->
        <br>
        <div class="main_rows">
            <div class="testing" id="first_details"><a href="#">
                    <p class="topic_paragraph">G2NET- TF baseline</p>
                    <p class="author_name">MATTEO ALESCI &nbsp&nbsp&nbsp<span>| &nbsp&nbsp updated 15h ago</span></p>
                </a></div>
            <div class="testing">
                <img src="/auth_wiki/static/img/authenticated_images/Ellipse 7 (1).png" alt="javescript logo">

                <!-- this div is for the thumbsup and likes -->
                <div class="thumup_likes">
                    <div>
                        <img src="/auth_wiki/static/img/unauthenticate_images/Vector (3).png" alt="thumbsup">
                    </div>
                    <div> 685 </div>
                </div>
            </div>
        </div>
        <!-- this is the fourth row -->
        <br>
        <div class="main_rows">
            <div class="testing" id="first_details"><a href="#">
                    <p class="topic_paragraph">FAISS GPU demo</p>
                    <p class="author_name">DAVID DAVIS &nbsp&nbsp&nbsp<span>| &nbsp&nbsp updated 22h ago</span></p>
                </a></div>
            <div class="testing">
                <img src="/auth_wiki/static/img/authenticated_images/Ellipse 8 (1).png" alt="cplusplus logo">

                <!-- this div is for the thumbsup and likes -->
                <div class="thumup_likes">
                    <div>
                        <img src="/auth_wiki/static/img/unauthenticate_images/Vector (3).png" alt="thumbsup">
                    </div>
                    <div> 16 </div>
                </div>
            </div>
        </div>
        <!-- this is the fifth row -->
        <br>
        <div class="main_rows">
            <div class="testing" id="first_details"><a href="#">
                    <p class="topic_paragraph">Training Efficientnet with TPU</p>
                    <p class="author_name">PARK MOORE &nbsp&nbsp&nbsp<span>| &nbsp&nbsp updated 22h ago</span></p>
                </a></div>
            <div class="testing">
                <img src="/auth_wiki/static/img/authenticated_images/Ellipse 9 (1).png" alt="diamond logo">

                <!-- this div is for the thumbsup and likes -->
                <div class="thumup_likes">
                    <div>
                        <img src="/auth_wiki/static/img/unauthenticate_images/Vector (3).png" alt="thumbsup">
                    </div>
                    <div> 89 </div>
                </div>
            </div>
        </div>
        <!-- this is the 6th row -->
        <br>
        <div class="main_rows">
            <div class="testing" id="first_details"><a href="#">
                    <p class="topic_paragraph">GANwithTORCH</p>
                    <p class="author_name">TOLU RICE &nbsp&nbsp&nbsp<span>| &nbsp&nbsp 1 day ago</span></p>
                </a></div>
            <div class="testing">
                <img src="/auth_wiki/static/img/authenticated_images/Ellipse 10 (1).png" alt="new logo">

                <!-- this div is for the thumbsup and likes -->
                <div class="thumup_likes">
                    <div>
                        <img src="/auth_wiki/static/img/unauthenticate_images/Vector (3).png" alt="thumbsup">
                    </div>
                    <div> 221 </div>
                </div>
            </div>
        </div>
        <!-- this is the 7th row -->
        <br>
        <div class="main_rows">
            <div class="testing" id="first_details"><a href="#">
                    <p class="topic_paragraph">Fraud detection with SMOTE</p>
                    <p class="author_name">ANGELA WHITE &nbsp&nbsp&nbsp<span>| &nbsp&nbsp 1 day ago</span></p>
                </a></div>
            <div class="testing">
                <img src="/auth_wiki/static/img/authenticated_images/Ellipse 11.png" alt="C logo">

                <!-- this div is for the thumbsup and likes -->
                <div class="thumup_likes">
                    <div>
                        <img src="/auth_wiki/static/img/unauthenticate_images/Vector (3).png" alt="thumbsup">
                    </div>
                    <div> 12 </div>
                </div>
            </div>
        </div>
        <!-- this is the 8th row -->
        <br>
        <div class="main_rows">
            <div class="testing" id="first_details"><a href="#">
                    <p class="topic_paragraph">AF_Iran_map</p>
                    <p class="author_name">QUDUS JAY &nbsp&nbsp&nbsp<span>| &nbsp&nbsp 2 days ago</span></p>
                </a></div>
            <div class="testing">
                <img src="/auth_wiki/static/img/unauthenticate_images/Ellipse 12.png" alt="go logo">

                <!-- this div is for the thumbsup and likes -->
                <div class="thumup_likes">
                    <div>
                        <img src="/auth_wiki/static/img/unauthenticate_images/Vector (3).png" alt="thumbsup">
                    </div>
                    <div> 129 </div>
                </div>
            </div>
        </div>
        <!-- this is the 9th row -->
        <br>
        <div class="main_rows">
            <div class="testing" id="first_details"><a href="#">
                    <p class="topic_paragraph">Twitter sentiment analysis</p>
                    <p class="author_name">HELEN ELON &nbsp&nbsp&nbsp<span>| &nbsp&nbsp 3 days ago</span></p>
                </a></div>
            <div class="testing">
                <img src="/auth_wiki/static/img/unauthenticate_images/Ellipse 8.png" alt="php logo">

                <!-- this div is for the thumbsup and likes -->
                <div class="thumup_likes">
                    <div>
                        <img src="/auth_wiki/static/img/unauthenticate_images/Vector (3).png" alt="thumbsup">
                    </div>
                    <div> 687 </div>
                </div>
            </div>
        </div>
        <!-- this is the 10th row -->
        <br>
        <div class="main_rows">
            <div class="testing" id="first_details"><a href="#">
                    <p class="topic_paragraph">Electricity load</p>
                    <p class="author_name">JAMES CURVES &nbsp&nbsp&nbsp<span>| &nbsp&nbsp a week ago</span></p>
                </a></div>
            <div class="testing">
                <img src="/auth_wiki/static/img/authenticated_images/Ellipse 14 (1).png" alt="python logo">

                <!-- this div is for the thumbsup and likes -->
                <div class="thumup_likes">
                    <div>
                        <img src="/auth_wiki/static/img/unauthenticate_images/Vector (3).png" alt="thumbsup">
                    </div>
                    <div> 15 </div>
                </div>
            </div>
        </div>
        <!-- this is the 11th row -->
        <br>
        <div class="main_rows">
            <div class="testing" id="first_details"><a href="#">
                    <p class="topic_paragraph">Divorce prediction 100%</p>
                    <p class="author_name">JANE DOE &nbsp&nbsp&nbsp<span>| &nbsp&nbsp a week ago</span></p>
                </a></div>
            <div class="testing">
                <img src="/auth_wiki/static/img/authenticated_images/Ellipse 15.png" alt="csharp logo">

                <!-- this div is for the thumbsup and likes -->
                <div class="thumup_likes">
                    <div>
                        <img src="/auth_wiki/static/img/unauthenticate_images/Vector (3).png" alt="thumbsup">
                    </div>
                    <div> 48 </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer leftfooter">
            <a href="#" class="previous">&#8592 &nbsp Previous</a>
            <p>page 40 of 70</p>
        </div>
        <div class="footer">
            <a href="#" class="next">next &nbsp &#8594 </a>

            <div class="number_div">
                <div><a href="#" class="footlink">10</a></div>
                <div><a href="#" class="footlink">20</a></div>
                <div><a href="#" class="footlink">30</a></div>
                <div><a href="#" class="footlink">40</a></div>
                <div><a href="#" class="footlink">50</a></div>
                <div><a href="#" class="footlink">60</a></div>
                <div><a href="#" class="footlink">70</a></div>

            </div>
        </div>
    </footer>
</body>
</html>