<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Page</title>
    <link rel="stylesheet" href="../static/styles/community.css">
    <link href="https://fonts.google.com/specimen/Source+Sans+Pro" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <img src="../static/img/comm_images/642A8650-633F-48CE-BB94-36163B0CAFBD 2.png" alt="logo" class="logo">
        <nav>
            <a href="#">Home</a>
            <a href="#">Codes</a>
            <a href="#">Community</a>
            <a href="#">About</a>
            <a href="#">Help</a>
            <a href="#">Contact</a>
        </nav>
        <input type="text" placeholder=" &#128269  Search" class="search">
    </header>
    <main>
        <div class="one">

            <!-- first row -->
            <div class="inner_one">
                <div>
                    <!-- profile image and name -->
                    <div class="profile">
                        <div><img src="../static/img/comm_images/Ellipse 26.png" alt="brainiac picture"></div>
                        <div>
                            <p>&nbsp&nbsp  Brainiac23</p>
                        </div>
                    </div>
                    <p class="notes_in_cell">Which programming code do you think is best for coding<span>authentication codes?</span></p>
                    <!-- like and comment links -->
                    <div class="link_flex">
                        <div class="inner_div_link"><a href="#" class="inner_link">&#128077 &nbsp&nbsp 201</a></div>
                        <div class="inner_div_link"><a href="#" class="inner_link"><i class="fa fa-comment"></i>&nbsp&nbsp&nbsp 100</a>
                        </div>
                    </div>
                </div>
                <div>
                    <img src="../static/img/comm_images/Frame 82.png" alt="glass_frame" class="glass_frame">
                    <p class="first_date">Posted 11/11/2022</p>
                </div>
            </div>

            <!-- second row -->
            <div class="inner_one">
                <div>
                    <!-- profile image and name -->
                    <div class="profile">
                        <div><img src="../static/img/comm_images/Ellipse 26 (1).png" alt="brainiac picture"></div>
                        <div>
                            <p>&nbsp&nbsp  Techdude99</p>
                        </div>
                    </div>
                    <p class="notes_in_cell">Are authentication codes necessary?<span>&nbsp&nbsp</span></p>
                    <!-- like and comment links -->
                    <div class="link_flex">
                        <div class="inner_div_link"><a href="#" class="inner_link">&#128077 &nbsp&nbsp 801</a></div>
                        <div class="inner_div_link"><a href="#" class="inner_link"><i class="fa fa-comment"></i>&nbsp&nbsp&nbsp 340</a>
                        </div>
                    </div>
                </div>
                <div>
                    <img src="../static/img/comm_images/Frame 82 (1).png" alt="glass_frame" class="code_frame">
                    <p class="second_date">Posted 11/11/2022</p>
                </div>
            </div>

              <!-- third row -->

            <div class="inner_one">
                <div>
                    <!-- profile image and name -->
                    <div class="profile">
                        <div><img src="../static/img/comm_images/Ellipse 27.png" alt="brainiac picture"></div>
                        <div>
                            <p>&nbsp&nbsp  D-COder\\</p>
                        </div>
                    </div>
                    <p class="notes_in_cell">Do you think companies spend too much or less on security?<span>&nbsp&nbsp</span></p>
                    <!-- like and comment links -->
                    <div class="link_flex">
                        <div class="inner_div_link"><a href="#" class="inner_link">&#128077 &nbsp&nbsp 801</a></div>
                        <div class="inner_div_link"><a href="#" class="inner_link"><i class="fa fa-comment"></i>&nbsp&nbsp&nbsp 340</a>
                        </div>
                    </div>
                </div>
                <div>
                    <img src="../static/img/comm_images/Frame 85.png" alt="glass_frame" class="third_frame">
                    <p class="third_date">Posted 11/11/2022</p>
                </div>
            </div>

            <!-- fourth row -->
            <div class="inner_one">
                <div>
                    <!-- profile image and name -->
                    <div class="profile">
                        <div><img src="../static/img/comm_images/Ellipse 26 (2).png" alt="brainiac picture"></div>
                        <div>
                            <p>&nbsp&nbsp  Egbon-script</p>
                        </div>
                    </div>
                    <p class="notes_in_cell">Is cryptocurrency truly the most secured form of currency?<span>&nbsp&nbsp</span></p>
                    <!-- like and comment links -->
                    <div class="link_flex">
                        <div class="inner_div_link"><a href="#" class="inner_link">&#128077 &nbsp&nbsp 601</a></div>
                        <div class="inner_div_link"><a href="#" class="inner_link"><i class="fa fa-comment"></i>&nbsp&nbsp&nbsp 230</a>
                        </div>
                    </div>
                </div>
                <div>
                    <img src="../static/img/comm_images/Frame 82 (2).png" alt="glass_frame" class="fourth_frame">
                    <p class="fourth_date">Posted 11/11/2022</p>
                </div>
            </div>
        </div>

        <!-- second grid in the main  -->
        <div class="two">
            <div class="grid2_innerrow">
                <img src="../static/img/comm_images/Rectangle 13.png" alt="computer image">
                <P class="updated_days">UPDATED 3 DAYS AGO</P>
                <P class="smallbox">Easy steps to coding a two<span>step authentication code</span></P>
                <button>Enter</button>
            </div>
            <button class="blog_posts">More blog posts</button>
        </div>
    </main>
    <hr>
    <footer>
        <div class="footer">
            <button class="previous">&#8592 &nbsp Previous</button>
            <p class="pagenumber">Page 4 out of 70</p>
        </div>

        <div class="footer" id="rightfooter">
            <button class="next">Next &nbsp &#8594</button>

            <div class="number_div"> 
            <div class="number">10</div>
            <div class="number">20</div>
            <div class="number">30</div>
            <div class="number">40</div>
            <div class="number">50</div>
            <div class="number">60</div>
            <div class="number">70</div>
        </div>



        </div>
    </footer>
</body>

</html>