<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css"  a href="../static/styles/unauthenticated.css"/>


<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link a href="../static/styles/individua.css" rel="stylesheet" type="text/css"/>


    <div class="mainheader">
        <div>
          <img src="../static/img/642A8650-633F-48CE-BB94-36163B0CAFBD 2.png" height="100px" width="300px" style="margin-top:0%"
          alt="”site_logo”" />
        </div>
     
      </div>
      <div class="subnav">
        <a class="active" href="../templates/landing.html">Home</a>
        <a href="#">Codes</a>
        <a href="../templates/registration.html">Community</a>
          <a href="#">About</a>
          <a href="../templates/registration.html">Help</a>
          <a href="../templates/registration.html">Contact</a>
        </div>
        <div style="display: flex">
            <div>
              <form class="search">
                <div>
                  <input
                    type="text"
                    placeholder="Search......"
                    class="input-search"
                  />
                  <span>
                    <button type="submit" class="search-button">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
              </form>
            </div>
           </div>
        </head>
        <body>
        <div class="main">
            <div class="content">
                <h2><a href="#"> API for world's states</a></h2>
                <div class="section2">MACK TYSON <div class="verticalline"> updated 4h ago</div> </div>
                <hr>
            </div>
            <div class="content">
                <h2><a href="#"> LIGHTGBM_Futuresales</a></h2>
                <div class="section2">Janet LION <div class="verticalline">updated 14h ago</div></div>
                <hr>
                <div class="content">
                    <h2><a href="#"> G2NET- TF baseline</a></h2>
                    <div class="section2"> MATTEO ALESCI <div class="verticalline">updated 15h ago</div></div>
                </div>
                <hr>
               
                    <div class="content">
                        <h2><a href="#"> FAISS GPU demo</a></h2>
                        <div class="section2"> DAVID DAVIS <div class="verticalline"> updated 22h ago</div></div>
                    </div>
                    <hr>
                    <div class="content">
                        <h2><a href="#"> Training efficientnet with TPU</a></h2>
                        <div class="section2">PARK MOORE <div class="verticalline">updated 22h ago</div></div>
                        <hr>

                        <div class="content">
                            <h2><a href="#"> GANwithTORCH</a></h2>
                            <div class="section2">TOLU RICE <div class="verticalline"> 1 day ago</div></div>
                        </div>
                        <hr>

                        <div class="content">
                            <h2><a href="#"> Fraud detection with SMOTE</a></h2>
                            <div class="section2"> ANGELA WHITE <div class="verticalline"> 1 day ago</div></div>
                        </div> 
                        <hr>

                        <div class="content">
                            <h2><a href="#"> AF_Iran_map</a></h2>
                            <div class="section2"> QUDUS JAY <div class="verticalline">2 day ago</div></div>
                        </div> 
                        <hr>

                        <div class="content">
                            <h2><a href="#"> Twitter sentiment analysis</a></h2>
                            <div class="section2"> HELEN ELON <div class="verticalline">3 day ago</div></div>
                        </div> 
                        <hr>

                        <div class="content">
                            <h2><a href="#"> Electricity load</a></h2>
                            <div class="section2"> JAMES CURVES <div class="verticalline">8 week ago</div></div>
                        </div> 
                        <hr>
                        
                        <div class="content">
                            <h2><a href="#"> Divorce prediction 100%</a></h2>
                            <div class="section2"> JANE DOE</p> <div class="verticalline">8 week ago</div></div>
                        </div> 
                        <hr>

                        <section id="foot">
                            <div class="first-section">
                                <button class="prev">
                                    previous
                                </button>
                                <button class="next">
                                    Next
                                </button>
                            </div>
                            <div class="second-section">
                                <div class="leftpart"> Page 40 out 70  
                                <div class ="rightpart"> 
                                    <button>10</button>
                                    <button>20</button>
                                    <button>30</button>
                                    <button>40</button>
                                    <button>50</button>
                                    <button>60</button>
                                    <button>70</button>
                                    
                                </div>
                            </div>

                            </div>
                        </section>
                      
            </div>

        
    


        </body>
          