*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html, body {
    background-color: #1D201D;
    height: 100%;
    width: 100%;
    font-family: "source-sans-pro", sans-serif;
    padding-left: 40px;
    padding-right: 40px;
    
  }

.logo {
    position: relative;
    left: -60px;
    width: 226px;
    height: 183px;
    margin-bottom: -10px;
  }

  nav {
    position: relative;
    left: -20px;
    text-align: center;
    padding: 0px;
    margin-bottom: 23px;
} 

a {
    width: 62px;
    height: 30px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FBFFFA;
    text-decoration: none;
    padding-left: 65px;
    padding-right: 48px;
}

a:hover {
    color: #18783C;
}

.search {
    width: 893px;
    height: 61px;
    border: 1px solid #105028;
    border-radius: 20px;
    margin-top: 7px;
    margin-bottom: 50px;
}

/* this is for the main  */

.main_rows {
    height: 89px;
    display: flex;
    justify-content: space-between;    
    border-bottom: 1px solid #ADAEAD;
}

.topic_paragraph {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #F9F9F9;
}

.author_name {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #BABBBA;
    margin-top: 15px;
}

span {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #818281;
}

.thumup_likes {
    width: 60px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    margin-top: 7px;
    padding-left: 6px;
}


#first_details  {
    position: relative;
    top: -30px;
    width: 50%;
}

/* this is for the footer  */   


footer {
    height: 170px;
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
}

.leftfooter {
    color: #F9F9F9;
    padding-top: 62px;
}



/* button {
    position: relative;
    left: 201px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    align-items: center;
    color: #FFFFFF;
    background-color: #18783C;
    padding: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border-color: #18783C   ;
} */


.number_div {
    display: flex;
    margin-top: 53px;
}

a.footlink {
    position: relative;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FBFFFA;
    text-decoration: none;
    padding: 10px;
    background-color: #18783C;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

}

a.footlink:hover {
    font-weight: 450;
    font-size: 25px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.30);
}

a.previous {
    position: relative;
    top: -57px;
    left: 0px;
    padding: 9px 25px;
    width: 62px;
    height: 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #FBFFFA;
    text-decoration: none;
    background-color: #18783C;
    border-radius: 9px;
}

a.next {
    position: relative;
    left: 128px;
    padding: 9px 35px;
    width: 62px;
    height: 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #FBFFFA;
    text-decoration: none;
    background-color: #18783C;
    border-radius: 9px;
}