body {
    background-color: #333433;
    margin: auto;
    font-family:Arial, Helvetica, sans-serif ;
  }
  header{
    display: block;
  }
  main {
    min-height: 400vh;
  }
  .basic{
    background-color: #0A0B0A;
  }
  .mainheader {
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
  
  .nav-links a {
    margin: 0 10px;
    text-decoration: none;
  }
  .register {
    background-color: #18783C;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 15px;
    width: 149px;
    height: 53px;
  }
  .login{
    border: 2px solid #f2f2f2;
    background-color: transparent;
    color: #f2f2f2;
    border-radius:15px ;
    width: 153px;
    height: 45px;
  }
  .search {
    margin-right: 150px;
    width: auto;
  }
  .input-search {
    padding: 10px;
    width: 400px;
    border-radius: 10px;
    border: 2px outset #f2f2f2;
    background-color: transparent;
  }
  .search button {
    color: white;
    box-shadow: 1px #8dc53e;
    width: 50px;
    height: 35px;
    background-color: transparent;
  }

  .subnav {
    overflow: hidden;
    width: 100%;
    height: auto;
    left: 0px;
top: 140px;
position: absolute;
text-align: center;
margin-bottom: 30px;
  }

  .subnav a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 22px;
    
    margin-left: 3%;
    margin-right: 3%;
  }

  .subnav a:hover {
    height: 40px;
    background-color: #18783C;
    color: black;text-align: center;
  }

  .subnav a.active {
    color: #18783C;
  }
 
  .section1 {
    display: flex;
    /* To make images close change space between to center */
    justify-content: space-around;
    padding: 2%;
    font-size: 25px;
    width: 90%;
    margin: 2%;
    height: 70vh;
    padding: 15px;
    font-size: 15px;
    word-spacing: 0em;
    font-weight: 400;
  }
/* .shape1{
  position: absolute;
width: 380px;
height: 270px;
left: 67%;
top: 25%;
border-radius: 70px;

/* Primary/9 */

/* background: #18783C;
filter: blur(10px);
} */ */
  .section1 img {
    max-width: 100%;
    max-height: 100%;
  }

  .text {
    font-size: 30px;
    padding: 20px;
    text-align: left;
    max-width: 100%;
    max-height: 100%;
    color: #f2f2f2;
  }
  .txt{
    color: #18783C;
  }
  .text p{
    font-size: 20px;
  }
   .general {
    margin: 2%;
    padding: 2%;
    color: #f2f2f2;
   }
   .sec1{
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
   }
   .sec1 p {
    font-size: 30px;
    text-align: left;
   }
   .sec1 i{
    font-size:50px;
    color: black;
   }

  .section2 {
    
    display: flex;
    width: 100%; 
    justify-content: space-evenly;
    align-items: center;
  }
  .code1 {
    background-color:#333433;
    height: 279px;
width: 320px;
border-radius: 10px;
padding: 12px 16px 19px 16px;
border: 1px solid #18783C;
box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.35);
box-sizing: border-box;

  }
  .code1:hover{
    box-shadow: 4px 2px 24px #f2f2f2; 
    height: 320px;
  }
  .code1 img{
    width: 50px;
height: 50px;
border-radius: 50%;

  }
  .code1 button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 14px 10px 10px;
    gap: 10px;
    width: 103px;
    height: 40px;
    background: #18783C;
    border-radius: 10px;
    border: none;
  }
  .code1 a{
    text-decoration: none;
  }
 .blog{
  display: flex;
  margin:auto;
  padding: 30px;
  justify-content: space-evenly;
 }
 .comm {
  justify-content: space-evenly;
  padding: 16px 16px 20px;
  gap: 16px;
  color: #0A0B0A;
  width: 279px;
  height: 400px;
  background: #333433;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 1px solid black;
  padding: 20px;
  margin: 30px;
}
.comm:hover{
  box-shadow: 4px 2px 24px black; 
  height: 450px;
  
}
.comm p{
  text-align: right;
}
.comm button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 14px 10px 10px;
  gap: 10px;
  width: 103px;
  height: 40px;
  color: #333433;
  background: #18783C;
  border-radius: 10px;
  border: none;
}
.comm img{
  box-sizing: border-box;

width: 247px;
height: 149px;
border: 1px solid #FBFDFF;
border-radius: 5px;

/* Inside auto layout */


align-self: stretch;

}
.forum{
  justify-content: center;
  align-items: center;
  padding-left: 20%;
  text-align: center;
}

.comment{
  box-sizing: border-box;

position: absolute;
width: 993px;
height: 408px;
background: #333433;
border: 1px solid #105028;
text-align: left;
padding: 15px;
align-items: center;
}
.comment p{
  font-size: xx-large;
}
.details{
  display: flex;
   margin: 30px; 
  padding-left: 40px;
  padding-top:8px;
  font-size: 30px;
  line-height: 18px;
}
.details sub{
  font: 0.4em sans-serif lighter;
  font-style: italic;
}
.personnel{
  display: flex;
  padding-top:35% ;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.personnel2{
  display: flex;
  padding-top:5% ;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 2%;
}
.foot{
  text-align: center;
  font-size: xx-large;
  color: #18783C;
  line-height: 60px;
  text-decoration: none;
}
.foot p{
  color: #f2f2f2;
}
.foot a {
  text-decoration: none;
  color:#18783C;
}
.foot a:hover{
  color:#0A0B0A;
  font-size: 45px;
}
  footer {
    background-color:#28C863;
    height: 440px;
    padding-left: 3%;
    padding-right:40%;
    display: flex;
    justify-content: space-between;
  }
  footer a{
    text-decoration: none;
    color: #0A0B0A;
  }